.card{
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
}

.text{
    -fx-font-weight: 700;
}

.addBtn{
    -fx-background-color: linear-gradient(to top right , #4ab694, #43cea2);
    -fx-background-radius: 5px;
    -fx-text-fill: #fff;
}

.addBtn:hover{
    -fx-background-color: linear-gradient(to top right , #17d998, #43cea2);
}