.color{
    -fx-text-fill: #fff;
}

.gradient{
    -fx-background-color: linear-gradient(to top right,#185a9d, #43cea2);
}

.btn_nav:focused{
    -fx-background-color: linear-gradient(to top right ,#86ebcb, #43cea2);
}

.btn_nav,
.btn_menu{
    -fx-border-radius: 0;
    -fx-font-size: 15px;
    -fx-text-fill: #fff;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-cursor: hand;
}

.btn_menu{
    -fx-text-fill: black ;
}

.btn_menu:hover{
    -fx-text-fill: linear-gradient(to top right , #4ab694, #43cea2);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #43cea2;
}

.btn_clicked{
    -fx-text-fill: linear-gradient(to top right , #4ab694, #43cea2);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #43cea2;
}

.btn_pay{
    -fx-text-fill: #fff;
}

.btn_nav:hover,
.btn_pay:hover{
    -fx-background-color: linear-gradient(to top right , #92ffdb, #53ffc4);
    /*-fx-text-fill: #68829E;*/
    -fx-text-fill: #fff;
}

.logout{
    -fx-background-color: #5eb9ff;
    -fx-background-radius: 2em;
    -fx-cursor: hand;
}

.logout:hover{
    -fx-background-color: linear-gradient(to bottom left, #5eb9ff,#47aefc);
}

.statistics{
    -fx-background-color: white; /* Màu nền của bảng */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 10, 0 , 0 , 1 );
    -fx-background-radius: 1em 1em 0 0; /* Bo tròn 2 góc trên */
    -fx-border-radius: 1em 1em 0 0; /* Bo tròn 2 góc trên cho viền */
}

.border{
    -fx-background-radius: 1em !important;
}

.text-search{
    -fx-background-radius: 1em;
}

.tab-view1, .tab-view2, .tab-view3{
    /* Thêm hiệu ứng shadow từ nửa bảng trở xuống */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 5, 5);
    -fx-background-radius: 0 0 7em 3em; /* Bo tròn 2 góc trên cho viền */
}

.tab-view1{
    -fx-background-color: linear-gradient(to top right, #0081a7, #00afb9); /* Gradient màu xanh */
}

.tab-view2{
    -fx-background-color: linear-gradient(to top right, rgba(255, 99, 71, 0.8), rgba(255, 69, 0, 0.8)); /* Gradient màu đỏ */
}

.tab-view3{
    -fx-background-color: linear-gradient(to top right, rgba(255, 215, 0, 0.8), rgba(255, 255, 0, 0.8)); /* Gradient màu vàng */
}

.ruler{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ccc;
}

.category{
    -fx-background-color: #efeeee;
}

.white-bg{
    -fx-background-color: #fff;
}

.shadow{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.transparent-bg{
    -fx-background-color: transparent;
}

.text_bold{
    -fx-font-weight: 700;
}

.summary-wrapper{
    position: relative;
}

.summary-wrapper-children{
    position: absolute;
    -fx-min-width: 25%;
}

.reload-order-bn{
    -fx-background-color: transparent;

}
